@import "~bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.logo-img {
    height: 30px;
    width: 30px;
}

.logo {
    padding-top: 10px;
}

.navbar-right {
    padding-right: 15px;
}